.chatbox * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

.message-list li {
  list-style-type: none; /* Disable default list markers */
}

.message-list ::marker {
  display: none !important;
}

body {
  margin: 0;
}

*,
html {
  --primaryGradient: linear-gradient(93.12deg, #1b1f98 0.52%, #1d3be7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #1b1f98 -2.14%, #1d3be7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #1b1f98;
  --secondary: #1d3be7;
}

/* CHATBOX
=============== */
.chatbox.visible {
  z-index: 10;
  opacity: 1;
}
.chatbox {
  height: 95%;
  width: 95%;
  max-width: 400px;
  max-height: 735px;
  position: fixed;
  bottom: 20%;
  right: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.5;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 100%;
  z-index: -1;
  opacity: 0;

  /* CONTENT IS CLOSE */
  .chatbox__support {
    height: 100%;
    width: 100%;
    max-height: 660px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    position: relative;
    overflow: hidden;
    background: #f9f9f9;
    box-shadow: 0px 0px 15px #23232399;
    border-radius: 20px;
    transform: scale(0); /* Start at 0 size */
    transform-origin: bottom right; /* Animation starts from bottom-right */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition */

    /* HEADER */
    .chatbox__header {
      position: sticky;
      top: 0;
      height: 60px;
      background: var(--primaryGradient);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
      box-shadow: var(--primaryBoxShadow);

      .img-name {
        display: flex;
        align-items: center;

        .chatbox__image--header {
          margin-right: 10px;
          height: 100%;
          display: flex;

          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
        }
        .chatbox__heading--header {
          font-size: 1.2rem;
          color: white;
        }
      }
      .nav-buttons {
        display: flex;
        align-items: center;
        gap: 7px;

        .nav-button {
          cursor: pointer;
        }
        .block {
          display: block;
        }
        .dots {
          transform: rotate(90deg);
        }
      }
    }
    .main-container {
      height: calc(100% - 60px - 38px - 70px);
      position: relative;

      /* Home */
      .intro-text {
        height: 100%;
        width: 100%;
        background-image: url("./images/chatting.gif");
        background-position: center;
        background-size: cover;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.6); /* Adjust transparency */
          z-index: 1;
        }
        .blur-effect {
          position: relative;
          z-index: 2;
          backdrop-filter: blur(5px); /* Apply blur effect */
          -webkit-backdrop-filter: blur(5px); /* Support for Webkit browsers */
          background-color: rgba(255, 255, 255, 0.3); /* Optional: Add semi-transparent background */
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          gap: 10px;
          overflow: hidden;
          padding: 16px;

          .text {
            color: #272727;
            font-weight: bold;
            position: relative;
            z-index: 2;
          }
          .question-text {
            color: #db0000;
            text-align: end;
          }
          .text.center {
            text-align: center;
          }
          .text.blue {
            color: #1d3be7;
          }
          .text.light-blue {
            color: #11a8ff;
          }
          .buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            position: relative;
            z-index: 2;

            .nav-button {
              width: 95%;
              height: 50px;
              max-width: 300px;
              background-color: transparent;
              border-radius: 10px;
              border: #1d3be7 solid 2px;
              font-size: 16px;
              cursor: pointer;
              color: #1d3be7;
              position: relative;
              z-index: 2;

              &:hover {
                color: #ffffff;
                background-color: #1d3be7;
              }
            }
          }
        }
      }
      /* Messages */
      .no-msgs-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .no-messages {
          color: #1d3be7;
        }
      }
      .chat-item {
        padding: 10px 15px;
        cursor: pointer;
        background-color: #fff;
        color: #11a8ff;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;

        &:hover {
          background-color: rgba(0, 0, 0, 0.06);
          color: #1d3be7;
        }
        &:last-child {
          border-bottom: none;
        }
        .message-name {
          display: flex;
          align-items: center;
          gap: 10px;

          .chatbot-img {
            height: 40px;
            width: 40px;
          }
        }
        .right-arrow {
          height: 40px;
          display: flex;
          align-items: center;
        }
      }
      /* Chatting */
      .messages-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        .chatbox__messages {
          height: 100%;
          width: 90%;
          display: flex;
          overflow-y: auto; /* Allow vertical scrolling */
          scrollbar-width: none; /* Firefox: Hide scrollbar */
          flex-direction: column-reverse;
          padding-bottom: 70px;
          position: relative;

          /* Chrome, Edge, Safari */
          &::-webkit-scrollbar {
            display: none; /* Hide scrollbar */
          }
          .message {
            display: grid;
            grid-template-columns: 40px auto;
            align-items: end;

            img {
              height: 32px;
              width: 32px;
              border-radius: 50%;
              align-self: end;
            }
            .messages__item {
              margin-top: 10px;
              background: #e0e0e0;
              padding: 8px 12px;
              width: fit-content;
              max-width: 80%;

              .chat-links {
                color: rgb(0, 0, 238);
                text-decoration: underline;
              }
              .chatbot-message {
                font-size: 18px;
                font-family: "Arial", sans-serif;
                color: #ffffff;
                background: var(--secondaryGradient);
                padding: 12px 20px;
                margin: 10px 0;
                border-radius: 12px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, opacity 0.3s ease;
                opacity: 0;
                transform: translateY(20px);
              }
              .chatbot-message:nth-child(1) {
                animation: fadeInUp 0.6s 0.3s forwards;
              }
              .chatbot-message:nth-child(2) {
                animation: fadeInUp 0.6s 0.6s forwards;
              }
              .chatbot-message:nth-child(3) {
                animation: fadeInUp 0.6s 0.9s forwards;
              }
              .is-typing {
                height: 50px;
                width: 85px;
                justify-content: space-around;
                align-items: center;
                display: flex;

                .jump1,
                .jump2,
                .jump3,
                .jump4,
                .jump5 {
                  width: 10px;
                  height: 10px;
                  border-radius: 100%;
                  background-color: gray;
                }
                .jump1 {
                  animation: typing 1.5s linear infinite;
                  animation-delay: 01.1s;
                }
                .jump2 {
                  animation: typing 1.5s linear infinite;
                  animation-delay: 01.2s;
                }
                .jump3 {
                  animation: typing 1.5s linear infinite;
                  animation-delay: 01.3s;
                }
                .jump4 {
                  animation: typing 1.5s linear infinite;
                  animation-delay: 01.4s;
                }
                .jump5 {
                  animation: typing 1.5s linear infinite;
                  animation-delay: 1.5s;
                }
              }
            }
            .messages__item--visitor {
              margin-right: auto;
              background-color: rgb(224, 224, 224);
              color: black;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            }
            .messages__item--operator {
              margin-left: auto;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 20px;
              background: var(--primary);
              color: white;
            }
          }
        }
      }
      /* INPUT */
      .input-button-container {
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: sticky; /* Ensure it stays at the bottom of the chat area */
        bottom: 107px;
        z-index: 10;
        backdrop-filter: blur(10px);
        border-top-left-radius: 20px;
        border-top-right-radius: 10px;

        .input-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;

          .input-message {
            width: 82%;
            border: none;
            padding: 10px;
            border-radius: 30px;
            text-align: left;
            background-color: var(--secondary);
            color: white;

            &::placeholder {
              color: white; /* Placeholder text color */
              opacity: 1; /* Ensure full opacity */
            }
          }
          .send__button {
            color: var(--secondary);
            padding: 8px;
            background: transparent;
            border: var(--secondary) 2px solid;
            border-radius: 30px;
            outline: none;
            cursor: pointer;

            &:hover {
              background: var(--secondary);
              color: white;
            }
          }
        }
      }
    }
    /* Navbar */
    .navbar {
      height: 70px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: 2px solid #ccc; /* Line at the top */
      background-color: #f9f9f9;

      button {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        font-size: 14px;
        color: #333;
        cursor: pointer;
        padding: 10px;
      }
      button .icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        margin-bottom: 5px;
      }
      button.active {
        font-weight: bold;
        color: #007bff;
      }
      button.active .icon {
        color: #007bff;
      }
    }
    /* FOOTER */
    .chatbox__footer {
      position: sticky;
      bottom: 0;
      padding: 10px;
      background: var(--secondaryGradient);
      box-shadow: var(--secondaryBoxShadow);

      .powered {
        font-size: 12px;
        text-align: center;

        a {
          color: white;
        }
      }
    }
    /* Modal Styles */
    .modal {
      position: absolute;
      bottom: -100%; /* Hidden initially */
      left: 0;
      width: 100%;
      background: white;
      box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 20px 20px 0 0;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      z-index: -1;
    }
    .modal--open {
      bottom: 0;
      opacity: 1;
      transform: translateY(0); /* Animate into view */
      z-index: 123456;
      font-family: Poppins, sans-serif;

      .modal__content {
        padding: 20px;
        text-align: center;
        color: black;

        .are-you-sure {
          color: rgb(107, 114, 128);
        }
        .modal__actions {
          margin-top: 20px;
          display: flex;
          gap: 7px;
          flex-direction: column;

          .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-family: Poppins, sans-serif;
          }
          .btn--danger {
            background-color: #dc2626;
            color: white;

            &:hover {
              background-color: #b91c1c;
            }
          }
          .btn--cancel {
            background-color: #f3f4f6;
            color: black;

            &:hover {
              background-color: #e5e7eb;
            }
          }
        }
      }
      .modal--closing {
        bottom: -100%;
        opacity: 0;
        transform: translateY(100%); /* Animates out of view */
        z-index: 123456;
      }
    }
  }
  /* CONTENT ISOPEN */
  .chatbox--active {
    z-index: 123456;
    opacity: 1;
    transform: scale(1);
  }
  /* BUTTON */
  .chatbox__button {
    text-align: right;

    .open-chat-button {
      border: none;
      cursor: pointer;
      padding: 10px;
      transition: transform 0.2s ease-in-out; /* Smooth animation */
      background: var(--primary);

      &:hover {
        transform: scale(1.1); /* Makes the button 20% larger */
      }
      &:active {
        transform: scale(0.9); /* Shrinks the button to 90% of its size */
      }
    }
  }
  .chatbox__button button,
  .chatbox__button button:focus,
  .chatbox__button button:visited {
    padding: 10px;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typing {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(15px);
  }

  45% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-15px);
  }

  75% {
    background-color: white;
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animation {
  animation: chainReaction 1.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.animation:nth-child(1) {
  animation-delay: 0.3s;
}
.animation:nth-child(2) {
  animation-delay: 1s;
}
.animation:nth-child(3) {
  animation-delay: 1.7s;
}

@keyframes chainReaction {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Query For different screens */
@media (max-height: 950px) {
  .chatbox {
    bottom: 10px;
    right: 10px;
  }
}
